

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: blue;
    position: relative;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Escondemos el checkbox */
#menu-toggle {
    display: none;
}

/* Estilos de la lista de navegación */
.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: blue;
    position: absolute;
    top: 25px;
    
    padding: 10px;
    z-index: 1;
}

.nav-links li { 
    margin: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover{
    background-color: rgb(0, 153, 153);
    transition: 0.4s;
}
/* Mostrar el menú cuando el checkbox está marcado */
#menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
}

.mapa{
    text-align: center;
    margin-top: 50px;
}

.iconos{
    margin-top: 15px;
}



.piedepagina{
    background-color: blue;
}


.piedepagina li{
    color: white;
}


.informacionp{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    background-color: rgb(27, 0, 146);
    height: 90px;
}

.tituloc{

    background-color: rgb(0, 215, 253);
}

.td{
   font-size: 30px;
}

.tr{
    box-sizing: inherit;
}
.tbody{
    box-sizing: inherit;
}

.tabla{
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #585555;
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    background-color: #0322cf;
}

.articulo {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 120px;
    border-radius: 20px;
    justify-content: space-around;
}


.articulo p{
    font-size: 35px;
}

.personajes{
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    display: flex;
     padding: 20px;
     gap: 70px;
     
    }



.oficinas{
    background-color: #00acca;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.oficinas p{
    padding: 30px;
}


.section-info{
    color: rgb(0 64 120);
    margin: 25px 0px;
    padding: 15px;
    background-image: url(IMAGENES/fondoArticulos.jpg);
    background-size: 100%;
    background-blend-mode: luminosity;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(0 64 144);
    display: flex;
    justify-content: center;
}

.section-info img{
    border-radius: 4px;
    box-shadow: 10px 10px 9px 2px #00008bb0;
}

#restaurantes{
    margin: 25px 0px;
    padding: 15px;
    background-image: url(img/fondoArticulos.jpg);
    background-size: 100%;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-color: rgb(174 224 255);
    display: flex;
    justify-content: center;
}

#restaurantes .restaurantes-contenido{
    text-align: center;
    width: 25%;
    padding: 15px;
    margin: 10px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: #698079 0px 6px 24px 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#restaurantes .restaurantes-contenido:hover{
    transform: translateY(-10px);
    box-shadow: 1px 1px 10px gray; 
}

#restaurantes img{
    max-width: 400px;
    width: 100%;
}

.boton-modal{
    padding: 40px;
    background-color: #ffffff;
}

.boton-modal label{
    padding: 10px 15px;
    background-color: #585555;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal label:hover{
    background-color: #242424;
}

#btn-modal{
    display: none;
}

.container-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

input[type="checkbox"] {
    display: none;
}

#btn-modal-1:checked ~ #modal-1,
#btn-modal-2:checked ~ #modal-2,
#btn-modal-3:checked ~ #modal-3,
#btn-modal-4:checked ~ #modal-4,
#btn-modal-5:checked ~ #modal-5,
#btn-modal-6:checked ~ #modal-6,
#btn-modal-7:checked ~ #modal-7,
#btn-modal-8:checked ~ #modal-8,
#btn-modal-9:checked ~ #modal-9 {
    display: flex;
}

.content-modal {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.btn-cerrar label {
    cursor: pointer;
}

.content-modal h2{
    margin-bottom: 15px;
}

.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #0322cf;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover{
    background-color: #455ad3;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

